.carousel-container {
    position: relative;
  }
  
  .overlay-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 5vw; /* Tamaño de fuente ajustable según el ancho de la pantalla */
font-weight: bold;
text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
z-index: 10; /* Asegura que el texto esté por encima del carrusel */
}

@media (max-width: 768px) {
.overlay-text {
  font-size: 8vw; /* Ajuste para pantallas más pequeñas */
}
}

@media (max-width: 480px) {
.overlay-text {
  font-size: 10vw; /* Ajuste para pantallas muy pequeñas */
}
}