
body {
    background-color: #c6a186;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    z-index:auto;
}
.container {
    padding: 50px;
    font-size: larger;
}
.process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.button {
    background-color:;
    color: #c6a186;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 20%;
}

.button:hover {
    background-color: #1d454d; /* Color de fondo al pasar el mouse */
}
