* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  /* MODIFICA EL NAV  */
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 1.6rem 1rem;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    position: relative; /* Esto permite que el z-index funcione correctamente */
    z-index: 100; /* Asegura que el navbar esté por encima del carrusel */
  }
  
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 2rem;
  }
  
  /* Mofifica las letras del nav */
  .nav-links a {
    color: rgb(26, 26, 26);
    text-decoration: none;
    font-size: 1.2rem;

  }
  
  /* modifica el color de las letras del nav al posicionarse encima de ellas  */
  .nav-links a:hover {
    color: #A02014;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
    position: relative; /* Esto permite que el z-index funcione correctamente */
    z-index: 10; /* Asegura que el navbar esté por encima del carrusel */
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      top: 84px;
      left: 0;
      width: 100%;
      background-color: #a8a8a8;
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 1rem 0;
      
    }
  
    .nav-links.active {
      display: flex;
    }
  
    .nav-links li {
      margin: 1rem 0;
    }
  
    .hamburger {
      display: flex;
    }

    
  }
  