
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 60px; /* Ajusta esto según la altura real del nav */
    margin-top: 60px;
}

nav {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.308); /* Sombra */
}

.logo {
    font-size: 1.5rem;
}

.menu {
    display: flex;
    gap: 1rem;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin: 0 15px;
    position: relative;
    padding-bottom: 5px;
}

.menu a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #A02014;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.menu a:hover::after {
    transform: scaleX(1);
}

.menu a:hover {
    color: #A02014;
}




.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out;
}

.mobile-menu {
position: fixed;
top: 70px; /* Altura del nav */
right: -250px; /* Está fuera de la pantalla inicialmente */
width: 110px;
height: calc(100vh - 60px); /* Para que no cubra el nav */
background-color: #333333d2;
padding: 1rem;
z-index: 999;
padding-top: 10%;
visibility: hidden;  /* Cambiado de display a visibility */
opacity: 0;  /* Agregado para ocultar el menú de manera suave */
transition: right 0.8s ease-in-out, visibility 0s 0.8s, opacity 0.8s ease-in-out; /* Transición de right y fade-in */
}

.mobile-menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
    font-size:medium;
}

.mobile-menu.active {
visibility: visible; /* Hacemos visible el menú cuando tiene la clase active */
opacity: 1; /* Hacemos visible el menú con fade-in */
right: 0; /* Deslizamos hacia la pantalla */
}

/* Animación para la hamburguesa */
.hamburger.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active div:nth-child(2) {
    opacity: 0;
}

.hamburger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

/* Añadí un poco de contenido para probar el desplazamiento */
.content {
    padding: 100px 20px;
}


