/* Estilo base */
body {
    background-color: #c6a186;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    z-index: auto;
}

.container {
    padding: 50px;
    font-size: x-large;
}

.process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.icon img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.button {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 20%;
    transition: background-color 0.3s ease;
}

/* Hover effect */
.button:hover {
    background-color: #1d454d;
    color: white;
}

/* Centrar el botón en dispositivos móviles */
@media (max-width: 768px) {
    .button {
        display: block;
        margin: 50px auto; /* Centrar horizontal y añadir espacio superior */
    }
}
