/* Asegura que el contenedor ocupe el 100% del ancho */
body {
    font-family:Arial, Helvetica, sans-serif;

  
}
.image-container {
    position: relative;
    width: 100%;
    max-width: 100%;
}

/* Hace que la imagen sea responsive, ocupando el 100% del ancho del contenedor */
.responsive-image {
    width: 100%;
    height: auto;
    display: block;
}

/* Posiciona el texto encima de la imagen */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.315); /* Fondo semitransparente */
    padding: 10px;
    text-align: center;
}

/* Media query para pantallas pequeñas, como móviles */
@media (max-width: 767px) {
    .text-overlay {
        font-size: 40px; /* Tamaño de fuente más grande en móviles */
    }
}

/* Media query para pantallas más grandes, como laptops */
@media (min-width: 768px) {
    .text-overlay {
        font-size: 70px; /* Tamaño de fuente por defecto en laptops y pantallas más grandes */
    }
}


/* PARRAFO DE TEXTO SECCION 2  */
